input[type="text"], 
textarea, 
textarea.form-control,
.contant-name {
    padding: 14px 10px;
    vertical-align: middle;
    background: none;
    border: 1px solid #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
select,
select.form-control {
    padding: 14px 10px;
    vertical-align: middle;
    background: none;
    border: 1px solid #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
select > option {
    background-color: #444;
}
input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    outline: 0;
    border: 1px solid #967666;
    -moz-box-shadow: 4px 2px 10px #967666;
    -webkit-box-shadow: 4px 2px 10px #967666;
    box-shadow: 4px 2px 10px #967666;
}
input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #000; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #000; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #000; }
button.btn {
    height: 52px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #967666;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 52px;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
button.btn:hover {
    -o-transition: all .3s;
    color: #fff;
    -moz-box-shadow: 4px 2px 10px #666;
    -webkit-box-shadow: 4px 2px 10px #666;
    box-shadow: 4px 2px 10px #666;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
button.btn:active {
    opacity: 0.8;
    -moz-box-shadow: 4px 2px 10px #666;
    -webkit-box-shadow: 4px 2px 10px #666;
    box-shadow: 4px 2px 10px #666;
}
button.btn:focus {
    opacity: 0.6;
    background: #967666;
    -moz-box-shadow: 4px 2px 10px #666;
    -webkit-box-shadow: 4px 2px 10px #666;
    box-shadow: 4px 2px 10px #666;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    opacity: 0.6;
    background: #967666;
    -moz-box-shadow: 4px 2px 10px #666;
    -webkit-box-shadow: 4px 2px 10px #666;
    box-shadow: 4px 2px 10px #666;
}
input[type="checkbox"] {
    -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #967666;
}
input[type="checkbox"]:focus {
    background-color: #967666;
}